{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <header>

        <div class="container">
            <h1 class="mt-5 align-items-center text-center">Pascale Vétois </h1>
            <h2 class="text-center">Développeuse Web - PHP Symfony</h2>


        </div>
    </header>

<hr>
    <section class="container">
        <div class="row container ">
            <div><p>Après une carrière dans l'assurance prévoyance et emprunteur où j'ai pu parfaire mes compétences
                dans les domaines des adhésions , des prestations, du médical ainsi que dans la gestion de projets MOA,
                j'embrasse aujourd'hui l'univers du développement Web, avec l'ambition de vous offrir mes compétence transverses
                dans ces domaines</p></div>
            <div class="col-6" ><img src="{{ asset('build/identite.jpg') }}"/></div>
            <div class="col-6">
                <p>bla bla <p>

                <p>bla bla <p>
                <p>bla bla <p>

            </div>
        </div>

    </section>

    <hr>
    <section>compétences</section>

    <hr>
    <section>réalisations</section>

    <hr>
    <section>Expériences</section>
    <hr>
{% endblock %}
