{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
<nav class="navbar navbar-expand-xl navbar navbar-dark shadow p-2">


    <div class="w-100 text-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse w-100 text-left" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-3">
                <a class="nav-link" href="{{ path("admin_home") }}">temporaire acces admin</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="{{ path("home") }}">A Propos</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="">Compétences</a>
            </li>

            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="">Réalisations</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="">Expériences</a>
            </li>
            <li class="nav-item pr-3">
                <a class="nav-link" href="">Contact</a>
            </li>

        </ul>
    </div>
</nav>

